@model ICollection<DataverseTest.Models.Contact>
@{
    ViewData["Title"] = "Home Page";
}


<h3>Contact List</h3>

<table id="contactTable" class="stripe" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td>
                    <div class="display-inline">
                        @Html.ActionLink("Edit", "Edit", "Home", new { id = item.Id },new { @class = "btn btn-info" }) |

                        <form asp-controller="Home" asp-action="Delete" id="deleteContact" method="post">
                            <button type="submit" onclick="confirmDelete()" class="btn btn-danger">Delete</button>
                            <input type="hidden" name="contactId" value="@item.Id" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="form-inline">@Html.ActionLink("Create Contact", "Create", "Home")</div>
